.App {
    max-width: 2000px;
    margin: auto;
}

.nextPage{
  background-color: white;
  border: none;
  color: 4CAF50;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 40px;
}